body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  border-style: none;
  outline: none;
}
button {
  outline: none;
}

h1 {
  margin: 0 25px 0 0;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 20px;
}
h4 {
  display: flex;
  flex: 1;
  color: "white";
}

nav {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  color: white;
  height: 100%;
  justify-content: space-between;
  width: 90% !important;
}

header {
  background-color: #ffffff;

  width: 100%;
  height: 122px;
}

nav > div:nth-child(1) > div:nth-child(2) {
  margin-right: 15px;
}
.logo {
  width: 20%;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.groupe1-header {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}
.groupe1-header-loged {
  margin-left: -400px;
}
.groupe2-header {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.button-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffb000;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  margin: 0 0px 0 30px;
  padding: 1px;
}

.button-header:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffb000;
  background-color: white;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  margin: 0 0px 0 30px;
}

a.link-button-header {
  text-decoration: none;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

link:focus {
  text-decoration: none;
  background: #ffffff;
  color: #ffb000;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
a.link-button-header:focus {
  text-decoration: none;
  background: #ffffff;
  color: #ffb000;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

a.link-header {
  text-decoration: none;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 30px 0 20px;
  text-align: left;
}
.link-logo {
  text-decoration: none;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.loged {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 21%;
}
.loged-name {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.deconnexion {
  cursor: pointer;
  color: #adadad;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.content {
  margin: auto;
  min-height: 80vh;
  width: 100%;
}

/* /////////////////////////////////////////////////////SIGNUP/////////////// */

.allcontain-singup {
  display: flex;
  padding: 70px 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #02b79a !important;
}

.signup-left {
  margin-top: -480px;
  width: 40%;
}

.form-title {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  width: 50%;
  text-align: left;
}

.title-signup {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
}
.title-signup > span {
  color: #ffffff;
}
form {
  background-color: #424b5f;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 450px;
  margin: auto;
  padding: 40px 10px;
}
.nom-prenom-container {
  display: flex;
}

.nom-prenom {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.input-div {
  display: flex;
  margin: 20px 0 20px 0;
}
.input-prenom-signup {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 180px;
  height: 52px;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 22px;
  text-align: left;
  padding-left: 10px;
}
.input-signup {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 383px;
  height: 52px;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 22px;
  text-align: left;
  padding-left: 10px;
}
.button-form {
  margin: auto;
  background-color: #ffb200;
  border: 2px solid #ffb200;
  border-radius: 30px;
  width: 237px;
  height: 67px;
  color: #ffffff;
  font-family: ArialRoundedMTBold;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  width: 214px;
  text-align: center;
}
/* //////////////////////////////////////////footer///////////////////////////////////////// */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0b4c65;
  color: #97a4ba;
}
h4 {
  color: #fafafa;
}
.footerBlockone {
  display: flex;
  line-height: 14px;
  width: 100%;
  margin-bottom: 70px;
  background-color: #0b4c65;
}
.flexRight {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 20px;
  font-size: 20px;
}
.flexRight p {
  font-size: 18px;
  line-height: 18px;
}
.flexRight h4 {
  margin-bottom: 10px;
}
.flexMiddle {
  width: 33.33%;
}
.flexLeft {
  width: 33.33%;
  flex-direction: column;

  justify-content: flex-start;

  text-align: left;
  padding: 20px;
}
.flexLeft p {
  font-size: 18px;
  line-height: 18px;
}
.footerblocktwo {
  background-color: #083749;
  border: 1px solid #979797;
  width: 100%;
}
.footerblocktwo h4 {
  padding-left: 15px !important;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 50px;
}
.rectangle {
  display: flex;

  justify-content: space-between;
  margin-bottom: 70px;
}
.rectangle p {
  font-size: 18px;
  line-height: 18px;
  padding: 15px;
}
/* //////////////////////////// fin du footer ///////////////////////////// */

/* ////////////////////////////////HomePage///////////////////////////////// */

.titlehomepage {
  width: 85%;
  background-color: rgba(2, 183, 154, 0.800000011920929);
  border-radius: 10px;
  margin: auto;
}
.titlehomepagesub {
  width: 70%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  padding: 40px;
}

.titlehomepagesub > h1 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-top: 20px;
}
.titlehomepagesub > p {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;

  text-align: left;
}
.buttonHome {
  margin-top: 20px;
}
.buttonHomebis {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  background-color: white;
  color: #02b79a;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
}
/* ////Card//// */
.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02b79a;
  font-family: Helvetica;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
}
.cardItem {
  display: flex;

  width: 85%;
  margin: auto;
  height: 214.93px;
  margin-top: 40px;
}
.CardSingle {
  width: 33.33%;
  padding: 50px;
  border: 1px solid #f6f9fc;
  background-image: linear-gradient(180deg, #ffffff 0%, #f6f9fc 100%);
}
.CardSingle p {
  color: #67758d;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  margin-left: 90px;
  line-height: 24px;
  width: 60%;
}
/* ///BigCard/// */
.subTitle {
  width: 85%;
  margin: auto;
  padding: 50px;
}
.subTitle > h2 {
  color: #67758d;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  font-family: Helvetica;
}

.CardItem {
  display: flex;
  width: 85%;
  margin: auto;
}
/* .CardItemBlock .number1 {
  display: flex;
  justify-content: center;
} */

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 6px solid #6f7f8c;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}
.number p {
  color: black;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.CardItemBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33.33%;
}
.BigCardSingle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  justify-content: space-around;
  font-family: Helvetica;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;

  margin-top: 60px;
}

.CardSmall {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 450px;
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}
.CardSmallbis {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  height: 450px;
  margin-left: -10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}
.CardSmall p {
  color: #47495a;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  width: 286px;
  text-align: center;
}
.CardSmallbis p {
  color: #47495a;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  width: 286px;
  text-align: center;
}
.BigCardSingle .icon {
  color: orange;
  height: 60px;
  width: 60px;
}
.BigCardSingle > .iconArrow {
  width: 100px;
  height: 64px;
  color: #02b79a;
}

.subTitle2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
  margin-top: 100px;
}
.subTitle2 > h2 {
  color: #67758d;
  font-family: Helvetica;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
}

.Papy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  width: 75%;
  margin: auto;
}
.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 45%;
}
.petitenfant {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  width: 234px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrierepetitenfant {
  color: #67758d;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
}
.decouvrir-ton-permis2 {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  background-color: #02b79a;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding: 22px 40px;
  border-radius: 10px;
}
.divLink {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding-bottom: 110px;
  padding-top: 10px;
}

/* /////////////////mediaquerie//////////////// */
/* @mediaquerie; */

.deja-inscrit {
  text-decoration: none;
  margin: 70px !important;
  cursor: pointer;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: 400;
  line-height: 78px;

  text-align: center;
}
/* ////////////Login/////////////////// */

.allcontain-singup-form {
  display: flex;
  padding: 70px 0px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #02b79a;
}
.login-form-bloc1 {
  margin-top: -300px;

  width: 40%;
}
.input-div-form {
  display: flex;
  margin: 60px 0 60px 0;
}
.form-login {
  padding: 50px 10px;
}
.title-form-login {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.forgot-password {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.input-email-required {
  display: flex;
  margin: auto;
  flex-direction: column;
}
.required {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: auto;
}

/* //////////////////Assure ton Permis ///////// */
.allContain-ATP {
  background: #ffffff;
}
.ATP-bloc1-part1,
.ATP-bloc1-part2 {
  width: 80%;
  margin: auto;
}
.ATP-bloc1-part1 h2,
.ATP-bloc1-part2 h2 {
  color: #67758d;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}

.ATP-bloc1-part1 span,
.ATP-bloc1-part2 span {
  color: #02b79a;
}

.ATP-bloc1-part1-text,
.ATP-bloc1-part2-text {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.ATP-bloc1-part1-text p,
.ATP-bloc1-part2-text p {
  width: 434px;
  color: #67758d;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.ATP-bloc1-part1-text span,
.ATP-bloc1-part2-text span {
  color: #02b79a;
}
.ATP-bloc1 {
  padding: 40px 0px;
}

.ATP-bloc2 {
  background-color: rgba(2, 183, 154, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 315px;
  padding: 5px 0px;
}

.ATP-bloc2 > h2 {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  width: 541px;
  text-align: left;
}

.souscrire-ATP {
  background: #ffffff;
  text-decoration: none;
  color: #02b79a;
  font-family: ArialRoundedMTBold;
  width: 283px;
  height: 82px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.souscrire-ATP > h3 {
  font-size: 26px;
  margin: auto;
  font-weight: 400;
  margin-top: 10px;
}

.ATP-bloc2 > h4 {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;

  text-align: left;
}
/* //////////////////////////////UploadFiles//////////////// */
.all-conatain-UploadFiles {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 95vh;
}
.all-conatain-UploadFiles > h1 {
  color: #212b36;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  width: 537px;
  text-align: center;
}
.contain-auto-ecole-upload {
  display: flex;

  justify-content: space-around;
  width: 90%;
}

.auto-elcole {
  box-sizing: border-box;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
  height: auto;
}
.auto-elcole > div {
  margin-top: 100px;
  display: flex;
}
.auto-elcole input {
  cursor: pointer;
  background-color: #eaf0f7;
  border-radius: 25px;
  margin-top: -80px;
  height: 54px;
  color: #97a4ba;
  font-family: ArialRoundedMTBold;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 470.56px;
  padding-left: 20px;
  text-align: left;
}
.input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-sizing: content-box;
}
.button-cp {
  background-color: #6f7f8c;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 280.34px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
}
.rendu-cp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20px;
  height: 228px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; /* showing scrollbars */
}
.rendu-cp::-webkit-scrollbar {
  -webkit-appearance: none;
}

.rendu-cp::-webkit-scrollbar:vertical {
  width: 2.5%;
}

.rendu-cp::-webkit-scrollbar:horizontal {
  height: 29px;
}

.rendu-cp::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.auto-ecole-axios {
  margin: 5px 0;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: none;
}
.auto-ecole-axios p {
  text-align: left !important;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1rem;
  font-weight: 400;
  cursor: pointer;
  padding: none;

  /* font-family: Helvetica, sans-serif, Geneva, Tahoma, sans-serif; */
}

.name-auto-ecole {
  text-align: left !important;
  font-size: 16px;
  font-style: italic;
  line-height: 1rem;
  font-weight: 300;
  cursor: pointer;
  padding: none;
}

.emoticon-upload {
  width: 80%;
  margin: auto;
}
.emoticon-upload p {
  text-align: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.auto-elcole > h2,
.upload-docs > h2 {
  color: #212b36;
  font-family: ArialRoundedMTBold;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  text-align: center;
}
.upload-docs {
  box-sizing: border-box;
  box-sizing: content-box;
  padding: 40px;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);

  height: auto;
}

.upload-docs > div h3 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 305px;
  text-align: justify;
}

.upload-docs > div input {
  background-color: #eaf0f7;
  border-radius: 25px;
  width: 50px;
  height: 54px;
  color: #97a4ba;
  font-family: ArialRoundedMTBold;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.upload-docs > div input {
  background-color: #eaf0f7;
  border-radius: 25px;
  width: 50px;
  height: 54px;
  color: #97a4ba;
  font-family: ArialRoundedMTBold;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.input-line {
  display: flex;
  align-items: center !important;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.input-image {
  margin-top: -15px;
}
.label-file {
  cursor: pointer;
  color: black;
  font-weight: 500;
  padding: 4px 14px;
  text-align: center;
  font-size: 35px;
  border-radius: 50%;
  background: white;
  border: 5px solid #6f7f8c;
}
.input-file {
  display: none;
}
/* -------------page /contract------------ */
.contrat--container {
  display: flex;
  max-width: 1030px;
  margin: 0 auto;
  padding: 1rem;
}
.contrat--left {
  padding-right: 70px;
}
.contrat--left > h1 {
  color: #02b79a;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  width: 442px;
  text-align: justify;
}
.contrat--left > p {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  width: 482px;
  display: block;
  margin-block-start: 2.4em;
  margin-block-end: 1em;
  text-align: justify;
}
.contrat--right {
  width: 120%;
  padding: 0 30px;
  border-left: 1px solid rgb(213, 212, 212);
  border-right: 1px solid rgb(213, 212, 212);
}
.contrat--right > h2 {
  color: #212b36;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.contrat--right h2::after {
  border-bottom: 1px solid rgb(213, 212, 212);
  content: "";
  display: block;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.contrat--right h3 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
.contrat--right span {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 29px;
  font-weight: 600;
  line-height: 35px;
}
/* balise a dans un bouton*/
.contrat--download a {
  color: inherit;
  text-decoration: none;
}
button.contrat--download {
  cursor: pointer;
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  justify-content: center;
  background-color: #ffb000;
  font-family: Helvetica;
  border-radius: 10px;
  border: 1px solid #ffb000;
  width: 403px;
  height: 50px;
}
.button-go-contrat {
  cursor: pointer;
  color: #ffffff;
  font-family: ArialRoundedMTBold;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #02b79a;
  border: 1px solid #02b79a;
  border-radius: 10px;
  width: 363px;
  height: 65px;
  text-decoration: none;
}
.button-go-contrat a {
  color: inherit;
  text-decoration: none;
}
.trait {
  border-bottom: 1px solid red;
  content: "";
  display: block;

  margin-bottom: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ////////////////refund//////////////////// */

.all-conatain-refund {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 85vh;
}
.all-conatain-refund h1 {
  color: #212b36;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  width: 537px;
  text-align: center;
}
.upload-refund {
  background-color: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
  width: 964.4px;
  height: 64px;
  margin-top: 100px;
}

.upload-refund h2 {
  background-color: #ffffff;
  color: #212b36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-refund {
  background-color: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
  width: 962.86px;
  height: 218px;
}
.input-refund {
  display: flex;

  align-items: center !important;
  width: 90%;
  color: #424b5f;
  margin: auto;
  justify-content: space-between;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;

  text-align: justify;
}
.label-refund {
  cursor: pointer;
  color: black;

  font-weight: 500;
  padding: 4px 14px;
  margin: auto;

  font-size: 35px;
  border-radius: 50%;
  background: white;
  border: 5px solid #6f7f8c;
}
.button-go-refund {
  cursor: pointer;
  color: #ffffff;
  font-family: ArialRoundedMTBold;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: center;
  background-color: #02b79a;
  border-radius: 20px;
  width: 480px;
  height: 85px;
  margin-top: 300px;
}
.pararefund {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  width: 660px;
  text-align: justify;
}
/* ///////////////////////////Payment/////////////// */

.all-contain-payement {
  width: 100%;

  /* height: 100vh; */
  display: flex;
  align-items: center;
}

.side-left-payment,
.side-right-payment {
  width: 50%;
  margin: auto;
  padding: 50px;
}
.side-left-payment > h2 {
  color: #02b79a;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
.side-left-payment > h3 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.stripe-form {
  margin: auto;
  width: 70%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #8f9195;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #8a8080;
}
.stripe-form > h2 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.checkout {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardElement {
  margin: auto;
  padding: 10px;
  width: 80%;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.23px;
}
.send-stripe {
  background-color: #ffb200;
  border: 2px solid #ffb200;
  border-radius: 10px;
  padding: 8px;
  width: 80%;
  margin: auto;
  color: #ffffff;
  font-family: ArialRoundedMTBold;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  text-align: center;
}

.cardElement input,
.StripeElement {
  font-family: Helvetica;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 22px;
  display: block;
  margin: 10px 0 0 0;
  width: 100%;
  padding: 10px 14px;
  font-size: 1em;
  /* border: 1px solid grey; */
  border-radius: 10px;
  font-family: Helvetica;
  box-shadow: rgba(50, 50, 93, 0.14902) 1px 2px 4px,
    rgba(0, 0, 0, 0.0196078) 0px 2px 1px;
  outline: 0;
  border-radius: 8px;
  background: white;
}

input::placeholder {
  color: grey;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

* {
  box-sizing: border-box;
}
