body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0 25px 0 0;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 20px;
}
h4 {
  display: flex;
  flex: 1;
  color: "white";
}

nav {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  color: white;
  height: 100%;
  justify-content: space-between;
  width: 90% !important;
}

header {
  background-color: #ffffff;

  width: 100%;
  height: 122px;
}

nav > div:nth-child(1) > div:nth-child(2) {
  margin-right: 15px;
}
.logo {
  width: 20%;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

.groupe1-header {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}
.groupe2-header {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.button-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffb000;
  border-radius: 10px;
  width: 220px;
  height: 50px;
  margin: 0 0px 0 30px;
}
a.link-button-header {
  text-decoration: none;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

a.link-header {
  text-decoration: none;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 30px 0 20px;
  text-align: left;
}
.link-logo {
  text-decoration: none;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.content {
  margin: auto;
  min-height: 80vh;
  width: 100%;
}

/* /////////////////////////////////////////////////////SIGNUP/////////////// */

.allcontain-singup {
  display: flex;

  width: 100%;
  background: #02b79a !important;
}
.signup-left,
.signup-right {
  padding: 50px 80px;
  width: 50%;
}

.form-title {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  width: 50%;
  text-align: left;
}

.title-signup {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
}
.title-signup > span {
  color: #ffffff;
}
form {
  background-color: #424b5f;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 450px;
  margin: auto;
  padding: 40px 10px;
}
.nom-prenom-container {
  display: flex;
}

.nom-prenom {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.input-div {
  display: flex;
  margin: 20px 0 20px 0;
}
.input-prenom-signup {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 30px;
  width: 180px;
  height: 52px;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 22px;
  text-align: center;
}
.input-signup {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 30px;
  width: 383px;
  height: 52px;
  color: #424b5f;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.23px;
  line-height: 22px;
  text-align: center;
}
.button-form {
  margin: auto;
  background-color: #ffb200;
  border: 2px solid #ffb200;
  border-radius: 30px;
  width: 237px;
  height: 67px;
  color: #ffffff;
  font-family: ArialRoundedMTBold;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  width: 214px;
  text-align: center;
}
/* //////////////////////////////////////////footer///////////////////////////////////////// */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0b4c65;
  color: #97a4ba;
}
h4 {
  color: #fafafa;
}
.footerBlockone {
  display: flex;
  line-height: 14px;
  width: 100%;
  margin-bottom: 70px;
  background-color: #0b4c65;
}
.flexRight {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 20px;
  font-size: 20px;
}
.flexRight p {
  font-size: 18px;
  line-height: 18px;
}
.flexRight h4 {
  margin-bottom: 10px;
}
.flexMiddle {
  width: 33.33%;
}
.flexLeft {
  width: 33.33%;
  flex-direction: column;

  justify-content: flex-start;

  text-align: left;
  padding: 20px;
}
.flexLeft p {
  font-size: 18px;
  line-height: 18px;
}
.footerblocktwo {
  background-color: #083749;
  border: 1px solid #979797;
  width: 100%;
}
.footerblocktwo h4 {
  padding-left: 15px !important;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 50px;
}
.rectangle {
  display: flex;

  justify-content: space-between;
  margin-bottom: 70px;
}
.rectangle p {
  font-size: 18px;
  line-height: 18px;
  padding: 15px;
}
/* //////////////////////////// fin du footer ///////////////////////////// */

/* ////////////////////////////////HomePage///////////////////////////////// */

.titlehomepage {
  width: 85%;
  background-color: rgba(2, 183, 154, 0.800000011920929);
  border-radius: 10px;
  margin: auto;
}
.titlehomepagesub {
  width: 70%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  padding: 40px;
}

.titlehomepagesub > h1 {
  color: #424b5f;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-top: 20px;
}
.titlehomepagesub > p {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;

  text-align: left;
}
.buttonHome {
  margin-top: 20px;
}
.buttonHomebis {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  background-color: white;
  color: #02b79a;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  padding: 15px 15px;
  border-radius: 10px;
}
/* ////Card//// */
.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02b79a;
  font-family: Helvetica;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
}
.cardItem {
  display: flex;

  width: 85%;
  margin: auto;
  height: 214.93px;
  margin-top: 40px;
}
.CardSingle {
  width: 33.33%;
  padding: 50px;
  border: 1px solid #f6f9fc;
  background-image: linear-gradient(180deg, #ffffff 0%, #f6f9fc 100%);
}
.CardSingle p {
  color: #67758d;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  margin-left: 90px;
  line-height: 24px;
  width: 60%;
}
/* ///BigCard/// */
.subTitle {
  width: 85%;
  margin: auto;
  padding: 50px;
}
.subTitle > h2 {
  color: #67758d;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  font-family: Helvetica;
}

.CardItem {
  display: flex;
  width: 85%;
  margin: auto;
}
/* .CardItemBlock .number1 {
  display: flex;
  justify-content: center;
} */

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 6px solid #6f7f8c;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}
.number p {
  color: black;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.CardItemBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33.33%;
}
.BigCardSingle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  justify-content: space-around;
  font-family: Helvetica;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;

  margin-top: 60px;
}

.CardSmall {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 450px;
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}
.CardSmallbis {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  height: 450px;
  margin-left: -10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}
.CardSmall p {
  color: #47495a;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  width: 286px;
  text-align: center;
}
.CardSmallbis p {
  color: #47495a;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  width: 286px;
  text-align: center;
}
.BigCardSingle .icon {
  color: orange;
  height: 60px;
  width: 60px;
}
.BigCardSingle > .iconArrow {
  width: 100px;
  height: 64px;
  color: #02b79a;
}

.subTitle2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
  margin-top: 100px;
}
.subTitle2 > h2 {
  color: #67758d;
  font-family: Helvetica;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
}

.Papy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  width: 75%;
  margin: auto;
}
.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 45%;
}
.petitenfant {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  width: 234px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrierepetitenfant {
  color: #67758d;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
}
.decouvrir-ton-permis2 {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  background-color: #02b79a;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding: 22px 40px;
  border-radius: 10px;
}
.divLink {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding-bottom: 110px;
  padding-top: 10px;
}

/* /////////////////mediaquerie//////////////// */
@mediaquerie;
